<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
        <target xsi:type="ColoredConsole" name="lifetimeConsole"
                layout="${longdate} | ${level:uppercase=true}: ${message} ${exception:format=tostring}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
        </target>
    </targets>

    <rules>
        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="SmtpForwarder.*" minlevel="Debug" writeTo="lifetimeConsole, ownFile-web" final="true"/>
        <logger name="Microsoft" minlevel="Warning" writeTo="lifetimeConsole, ownFile-web" final="true"/>
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="lifetimeConsole, ownFile-web"
                final="true"/>
    </rules>

</nlog>